<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MusicList</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Edit song</h1>
	<div>
		<form class="form form-horizontal" th:object="${song}" th:action="@{editsave}" action="#" method="post">
		
			<input type="hidden" th:field="*{id}">
		  	<label for="name">Name</label>
			<input type="text" id="title" th:field="*{name}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="artist">Artist</label>
			<input type="text" id="author" th:field="*{artist}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="album">Album</label>
			<input type="text" th:field="*{album}" />
			<div style="clear: both; display: block; height: 10px;"></div>
				<label for="duration">Duration</label>
			<input type="text" th:field="*{duration}" />
			<div style="clear: both; display: block; height: 10px;"></div>
				<label for="date">Year</label>
			<input type="text" th:field="*{date}" />
			
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="catlist">Genre</label>
			<select id="catlist" th:field="*{genre}" class="form-control">
			<option th:each="genre: ${genre}" th:value="${genre.genreid}" th:text="${genre.name}"></option>
			</select>
			
			<div style="clear: both; display: block; height: 10px;"></div>
			<input class="btn btn-primary" type="submit" value="Save"></input>
		</form>
	</div>
		<br>
	<div>All fields are required</div>
</body>
</html>